In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
 
file = "train_data.csv"
df_train = pd.read_csv(file, nrows = 40730865/30)
# Total number or rows in train_data: 40730865
# df_train = pd.read_csv(file)

In [2]:
df_train = DataFrame(df_train,columns=['custid', 'productid','eventid', 'currency',\
                                       'platform','timestamp', 'invest'])
df_train.head()

     custid productid eventid currency platform     timestamp    invest
0  bk084816  bj851884    9015     8f46     e146  1.451606e+09  1.008016
1  bj341378  bj851884    9015     8f46     e146  1.451606e+09  1.016032
2  bj350369  bj851884    9015     0ef8     b2a6  1.451606e+09  1.555789
3  bh008952  bj851884    9015     8f46     b2a6  1.451606e+09  1.080162
4  bj358929  bj851884    9015     8f46     86bb  1.451606e+09  1.024049

In [3]:
( max(df_train['timestamp']) - min(df_train['timestamp']) )/86400

6.1067989583313462

In [4]:
df_train['timestamp'] = df_train['timestamp'] - min(df_train['timestamp'])
df_train.head()

     custid productid eventid currency platform  timestamp    invest
0  bk084816  bj851884    9015     8f46     e146      0.000  1.008016
1  bj341378  bj851884    9015     8f46     e146      0.057  1.016032
2  bj350369  bj851884    9015     0ef8     b2a6      0.064  1.555789
3  bh008952  bj851884    9015     8f46     b2a6      0.080  1.080162
4  bj358929  bj851884    9015     8f46     86bb      0.150  1.024049

In [5]:
df_train = df_train[df_train.timestamp <= 3600*23]
len(df_train)
df_train2 = df_train
df_train2['timestamp'] = np.digitize(df_train2['timestamp'],range(0,3600*24,3600))

In [6]:
group_invest = df_train2['invest'].groupby(df_train2['timestamp'])
df_mean = DataFrame(group_invest.mean())
invest_temp = df_mean['invest'] 
invest_temp

invest_mean = []
for i in xrange(len(invest_temp)):
    if invest_temp[i+1] > 15:
        invest_mean.append(15)
    else:    
        invest_mean.append(invest_temp[i+1])

timestamp = DataFrame(df_mean.index)
df_mean = DataFrame({'invest_mean':invest_mean})
df_mean['timestamp'] = timestamp
df_mean = df_mean[['timestamp','invest_mean']]
df_mean

import matplotlib.pyplot as plt
#%matplotlib inline
df_mean['invest_mean'].plot(legend=True,figsize=(10,4))
plt.xlabel('Time of Day',fontsize=20)
plt.ylabel('Investment',fontsize=20)
plt.title("")
#plt.axis([1,4,0,2500])
plt.grid(True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

(array([ 1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9]),
 <a list of 8 Text yticklabel objects>)

In [7]:
group_invest = df_train2['custid'].groupby(df_train2['timestamp'])
df_count = DataFrame(group_invest.count())
 
import matplotlib.pyplot as plt
#%matplotlib inline
df_count.plot(legend=True,figsize=(10,4))
plt.xlabel('Time of Day',fontsize=20)
plt.ylabel('# Customers',fontsize=20)
plt.title("")
#plt.axis([1,4,0,2500])
plt.grid(True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

(array([  4000.,   5000.,   6000.,   7000.,   8000.,   9000.,  10000.,
         11000.,  12000.,  13000.]), <a list of 10 Text yticklabel objects>)

In [8]:
df_train_a = df_train2[df_train2['currency'] == '8f46']
 
group_a = df_train_a['custid'].groupby(df_train_a['timestamp'])
df_count_a = DataFrame(group_a.count())

df_count_a
 
import matplotlib.pyplot as plt
#%matplotlib inline
#plt.figure(1)
df_count_a.plot(legend=True,figsize=(10,4))
plt.xlabel('Time of Day',fontsize=20)
plt.ylabel('# Customers',fontsize=20)
plt.title("")
#plt.axis([1,4,0,2500])
plt.grid(True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

df_train_a = df_train2[df_train2['currency'] == '0ef8']
 
group_a = df_train_a['custid'].groupby(df_train_a['timestamp'])
df_count_a = DataFrame(group_a.count())

df_count_a
 
#plt.figure(1)
df_count_a.plot(legend=True,figsize=(10,4))
plt.xlabel('Time of Day',fontsize=20)
plt.ylabel('# Customers',fontsize=20)
plt.title("")
#plt.axis([1,4,0,2500])
plt.grid(True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
 
plt.show()